<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
	<title>{{ site.data.datas.i8n[page.lang].title }}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/png" href="../assets/img/favicon_32.png" sizes="32x32">
	<link rel="stylesheet" type="text/css" href="../assets/css/main.css">
	{% feed_meta %}
	{% seo %}
	{% if page.lang == "fr" %}
		<script> let lang = "fr";</script>
	{% elsif page.lang == "en" %}
		<script> let lang = "en";</script>
	{% endif %}
</head>
<body>