<div class="homeContent">
	<div class="CVportraitContainer"><div class="CVportrait"></div></div>
	<div class="CVcontent">
		<div class="CVtitle">{{ site.data.datas.i8n[page.lang].CVtitle }}</div>
		<div class="CVsubtitle CVspace">{{ site.data.datas.i8n[page.lang].CVsubtitle }}</div>
		<div class="iconContainer">
			<div class="icon icon1 icon1on"></div>
			<div class="icon icon2"></div>
			<div class="icon icon3"></div>
        </div>
        <div class="CVresume resume1">{{ site.data.datas.i8n[page.lang].content1 }}</div>
		<div class="PortofolioButton">{{ site.data.datas.i8n[page.lang].portofolioButton }}</div>
        <div class="CVresume resume2 displayNone">{{ site.data.datas.i8n[page.lang].content2 }}</div>
        <div class="CVresume resume3 displayNone">{{ site.data.datas.i8n[page.lang].content3 }}</div>
	</div>
</div>