<div class="header">
    <div class="titleContainer">
        <div class="title">{{ site.data.datas.completeName }}</div>
        <div class="line"></div>
        <div class="homeContainer">
            <div class="homeContact">{{ site.data.datas.email }}</div>
            <div class="homeContact">{{ site.data.datas.phone }}</div>
        </div>
    </div>
    <div class="burgerButton">
        <div class="burgerIcon"></div>
        <div class="burgerIcon"></div>
        <div class="burgerIcon"></div>
    </div>
</div>
<div class="navigationMenuContainer"><div class="navigationMenuBackground"></div><div class="navigationMenu">{% include menu.html %}</div></div>